body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/278/160/small/polygon-geometric-design-abstract-technology-concept-abstract-blue-light-background-vector.jpg");
  }
  ul{
    
    border: solid 0 1px 1px 1px;
    background-color: blue;
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px ;

  }
  h2{
    margin-top: 5%;
    text-align: center;
  }
  .header {
    position: relative;
    top: 7PX;
    margin-top: 30px;
    border-radius: 5px;
    border-color: #07090b;
    border-style: solid;
    border-width: 2px 2px 0 0;
    background: radial-gradient(red, blue);
  }
  
  ul li {
   border-radius: 10%;
   padding: 15px;
    list-style: none;
    background-color: white;
   border-radius: 10px;
    border-color: #07090b;
    border-bottom: solid 1px;
    width: 87%;
   margin-left: 20px;
   margin-bottom: 1%;

  }
  
  
  
  input {
  margin: 20px;
  margin-left: 50px;
  padding: 10px;
  border-radius: 5px;
  width:75%;
    font-size: 16px;

  }
  button{
    padding: 4px;
  border:none ;
  border-radius: 3px;
  }
  
  
  